<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Пользователи</title>
  </head>
  <body>
    <h1>Список пользователей</h1>
    <ul>
    {% for email, user in users.items() %}
      <li>
        <strong>{{ email }}</strong><br />
        Имя: {{ user.name }}<br />
        Адрес: {{ user.address }}<br />
        Способ оплаты: {{ user.payment_method }}
      </li>
    {% endfor %}
    </ul>
  </body>
</html>